{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Evaluate{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        body {
            padding-bottom: 30px;
        }

        #method {
            font-size: 18px;
            font-family: Georgia, "Times New Roman", Times, serif;
            text-align: justify;
        }

        form .statement {
            display: block;
            font-weight: 500;
            padding: 0 0 0 4.25%;
            margin-bottom: 10px;
        }

        form .likert {
            list-style: none;
            width: 100%;
            margin: 20px 0;
            display: block;
            border-bottom: 2px solid #efefef;
        }

        form .likert:last-of-type {
            border-bottom: 0;
        }

        form .likert:before {
            content: '';
            position: relative;
            top: 11px;
            left: 9.5%;
            display: block;
            background-color: #efefef;
            height: 4px;
            width: 78%;
        }

        form .likert li {
            display: inline-block;
            width: 19%;
            text-align: center;
            vertical-align: top;
        }

        form .likert li input[type=radio] {
            display: block;
            position: relative;
            top: 0;
            left: 50%;
            margin-left: -6px;
        }

        form .likert li label {
            width: 100%;
            font-weight: normal;
        }
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://y.scolby.com/#">Name TBD</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="https://y.scolby.com/#">Home</a></li>
                    <li class="active"><a href="https://y.scolby.com/#">Evaluate</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    <div class="container">
        <h1>Evaluate a method</h1>
        <p class="lead">Read the method and answer the questions according to your experience as a researcher.</p>

        <div class="row">
            <div class="col-lg-6 well" id="method">
                <p>
                    This procedure was adapted from a literature procedure.<sup>3</sup> A 25 mL round bottom flask with
                    stir bar was charged with 5 mmol aldehyde, 7.5 or 10 mmol amine, and 10 mL benzene in air. The flask
                    was then equipped with a 10 mL Dean-Stark trap and the trap fitted with a small reflux condenser.
                    The apparatus was put under flow of N<sub>2</sub>. The trap was then submerged in an ice water bath,
                    the flask submerged in a mineral oil bath and heated to 100° C. The top of the round bottom and the
                    neck of the apparatus was heated with a heat gun until all the benzene has boiled over and condensed
                    into the trap. The resulting yellow oil was analyzed by <sup>1</sup>H NMR for consumption of
                    aldehyde. The trap was then emptied, reattached to the reaction flask, and equipped with a rubber
                    septum. The apparatus was put under 300 mTorr and heated to 80° C with stirring to remove residual
                    amine and solvent. The residual yellow oil was analyzed by <sup>1</sup>H NMR, transferred to a 20 mL
                    scintillation vial, and brought into the glovebox in the open vial, cycling in the antechamber five
                    times to deoxygenate the oil. All spectral data matched literature data.
                </p>
            </div>
            <div class="col-lg-6">
                {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'btn btn-primary'}) }}
            </div>

            <div class="col-lg-6">
                <form action="https://y.scolby.com/">
                    <label class="statement">This method defines the equipment used well enough to be accurately
                        reproduced.</label>
                    <ul class="likert">
                        <li><input type="radio" name="likert1" value="strong_agree"><label>Strongly agree</label></li>
                        <li><input type="radio" name="likert1" value="agree"><label>Agree</label></li>
                        <li><input type="radio" name="likert1" value="neutral"><label>Neutral</label></li>
                        <li><input type="radio" name="likert1" value="disagree"><label>Disagree</label></li>
                        <li><input type="radio" name="likert1" value="strong_disagree"><label>Strongly disagree</label>
                        </li>
                    </ul>

                    <label class="statement">This method defines the reagents used well enough to be accurately
                        reproduced.</label>
                    <ul class="likert">
                        <li><input type="radio" name="likert2" value="strong_agree"><label>Strongly agree</label></li>
                        <li><input type="radio" name="likert2" value="agree"><label>Agree</label></li>
                        <li><input type="radio" name="likert2" value="neutral"><label>Neutral</label></li>
                        <li><input type="radio" name="likert2" value="disagree"><label>Disagree</label></li>
                        <li><input type="radio" name="likert2" value="strong_disagree"><label>Strongly disagree</label>
                        </li>
                    </ul>

                    <label class="statement">This method defines the procedures used well enough to be accurately
                        reproduced.</label>
                    <ul class="likert">
                        <li><input type="radio" name="likert3" value="strong_agree"><label>Strongly agree</label></li>
                        <li><input type="radio" name="likert3" value="agree"><label>Agree</label></li>
                        <li><input type="radio" name="likert3" value="neutral"><label>Neutral</label></li>
                        <li><input type="radio" name="likert3" value="disagree"><label>Disagree</label></li>
                        <li><input type="radio" name="likert3" value="strong_disagree"><label>Strongly disagree</label>
                        </li>
                    </ul>

                    <label class="statement">This method communicates the results of the experiment.</label>
                    <ul class="likert">
                        <li><input type="radio" name="likert4" value="strong_agree"><label>Strongly agree</label></li>
                        <li><input type="radio" name="likert4" value="agree"><label>Agree</label></li>
                        <li><input type="radio" name="likert4" value="neutral"><label>Neutral</label></li>
                        <li><input type="radio" name="likert4" value="disagree"><label>Disagree</label></li>
                        <li><input type="radio" name="likert4" value="strong_disagree"><label>Strongly disagree</label>
                        </li>
                    </ul>

                    <div class="pull-right">
                        <button class="btn btn-warning">Skip</button>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}